
body{
    margin-left: 100px;
    margin-top: 70px;
}
body{
    padding: 50px 100px;

}

h2{
    display: none;
}
#about h3{
    display: none;
}

hgroup h1{
    padding: 20px 0px;
    border-bottom:1px solid gray ;
}
figure img{
    position: absolute;
    top: 70px;
    right: 150px;
    transform: rotate(-15deg);
    width: 200px;
    height: 200px;

}
#about{
    font-size: 16px;
    font-weight: 400;
    color: gray;
    width: 60%;
    line-height: 1.5;
    margin-bottom: 150px;
}
.skills{
    display: flex;
     justify-content: start;
     align-items: baseline;
     gap: 10px;
     margin-left: 10px;
     color: white;
    width: 100%;

}
.skill{
    padding: 10px;
    background-color: #008080;
    margin: 5px 0px;
    width:50%;

}
.skills-primary{
    font-size: 20px;
    font-weight: 500;
}
.skills-secondary{
    font-size: 14px;
    font-weight: 400;

}
.skill[data-skill="5"] span::after{
    content: "\2605 \2605 \2605";
    display: inline-block;
    color: white;
    width:20px;
    height: 20px;

}
.skill[data-skill="3"] span::after{
    content: "\2605 \2605";
    display: inline-block;
    color: white;
    width:auto;
    height: auto;

}
.skill[data-skill="1"] span::after{
    content: "\2605";
    display: inline-block;
    color: white;
    width: auto;
    height: auto;

}
.skill[data-skill="7"] span::after,.skill[data-skill="9"] span::after{
    content: "\2605 \2605 \2605 \2605 \2605";
    display: inline-block;
    color: white;
    width: auto;
    height: auto;

}
.skill span{
    display: flex;
    justify-content: space-between;
    width: 50%;
}
h4{
    margin: 0;
    color: #008080;
}
.experience{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: baseline;
    padding: 0px 10px 10px;
    line-height: 1.5;
    margin: 0;
    }

.experience-details{
    font-size: 15px;
    font-weight: 400;
    color: gray;

}
section ul{
    margin: 0;
}

#contact h3, #contact dt,.contact-skype{
    display: none;
}
#contact{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.contacts{
    display: flex;
    flex-wrap: wrap;
}
.contact-email a{
    content: url(../images/email.png);
    width: 80px;
    height: 80px;
    display: inline-block;
}
.contact-phone a{
    content: url(../images/phone.png);
    width: 80px;
    height: 80px;
    display: inline-block;
}
.contact-github a{
    content: url(../images/github.png);
    width: 80px;
    height: 80px;
    display: inline-block;
}
.contact-facebook a{
    content: url(../images/facebook.png);
    width: 80px;
    height: 80px;
    display: inline-block;
}
/* /////////////////////////////////////////////////////// */
@media all and (min-width:1100px){
section{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-columns: auto 1fr;
    margin-bottom: 50px;
}
section h3{
    grid-row: 1/ span 2;
    width: 130px;
    margin: 0;
    border-right: 1px solid black;
    font-style: italic;
}
}
/* ///////////////////////////////////////////// */
@media all and (max-width:1099px){
figure img {
    display: none;
}
#about{
    width: 100%;
}
section h3{
    width: 130px;
    border-bottom: 1px solid black;
    font-style: italic;
}

}